<!-- <video class = "homepage" autoplay poster="http://www.hdwallpapersnew.net/wp-content/uploads/2015/12/beautiful-landscape-high-resolution-new-best-pictures-download-free.jpg" id="bgvid" loop>
 -->

  <%= video_tag("best.mp4", class: "homepage",  autoplay: true, loop: true)%>


<p class="homepage_text"><%= link_to "InstaVid", videos_path%></p>
