body {
   font-size: 14px;

 }

 h1,
 h3 {
  font-family: helvetica;
   color: silver;
   text-align: center;
 }

 h1 {
   font-style: bold;
 }

  .video-embed {
   display: block;
   margin: 0 auto;
 }

 nav {
   text-align: center;
 }

 .field_with_errors {
   display: inline;
 }

 .field_with_errors input {
   border: 2px solid red;
 }

.form-container {
  width: 50%;
  max-width: 900px;
  min-width: 480px;
  margin: 0 auto;
}

.video_show {
  background-color: azure;
  text-align: center;
}

.video_span {
  font-size: 20px;
  color: silver;
}

.nav .nav-pills .nav-justified {
  text-align: right;
  padding-right: 50px;
}
