header {
background-color: none;
}

body {
font-family: reis;
font-size: 20px;
background-color: MintCream;
 }

 h1{
  font-family: cool;
   color: black;
   text-align: center;
   font-style: bold;
 }


  .video-embed {
   display: block;
   margin: 0 auto;
 }

 nav {
  font-family: reis;
  font-size: 25px;
   color: black;
   text-align: center;
 }

 .field_with_errors {
   display: inline;
 }

 .field_with_errors input {
   border: 2px solid red;
 }

.form-container {
  width: 50%;
  max-width: 900px;
  min-width: 480px;
  margin: 0 auto;
}

.video_show {
  background-color: azure;
  text-align: center;
}

.video_span {
  font-size: 20px;
  color: silver;
}

.nav
{
  text-align: center;
  padding-left: 30px;
  color: black;
  font-family: cool;
  font-size: 20px;
}


.simple{
  text-align: center;
  border: 1.5px solid gray;
  margin-bottom: 30px;
  background-color: white ;
  padding-bottom: 25px;
  border-radius: 5%
}

