h1 {
  font-family: 'cool', Fallback, sans-serif;
  font-spacing: .3rem;
  font-size: 5rem;
}

header {
  background-image: url("https://vine.co/v/ibAU6OH2I0K/embed/simple");
}

.homepage {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

body {
  font-family: fabada;
  font-size: 20px;
  background-color: MintCream;
}

h1 {
  font-family: cool;
  color: black;
  text-align: center;
  font-style: bold;
  font-size: 6rem;
 }

h3{
  font-family: fabada, Fallback, sans-serif;
  font-spacing: .3rem;
  font-size: 3rem;
  text-align: center;
}


.video-embed {
   display: block;
   margin: 0 auto;
 }

 nav {
  font-size: 5px;
  font-family: fabada;
  font-size: 25px;
  color: black;
  text-align: center;
 }

.field_with_errors {
   display: inline;
 }

.field_with_errors input {
   border: 2px solid red;
 }

.form-container {
  width: 50%;
  max-width: 900px;
  min-width: 480px;
  margin: 0 auto;
}

.video_show {
  background-color: azure;
  text-align: center;
}

.video_span {
  font-size: 20px;
  color: silver;
}

.nav{
  text-align: center;
  padding-left: 30px;
  color: black;
  font-family: fabada;
  font-size: 20px;
}

.simple{
  text-align: center;
  border: 1.5px solid gray;
  margin-bottom: 30px;
  background-color: white ;
  padding-bottom: 25px;
  border-radius: 5%;
  background-color: none;
  width: 75%;
}

.simple_user{
  text-align: center;
  border: 1.5px solid gray;
  margin-bottom: 30px;
  background-color: white ;
  padding-bottom: 25px;
  border-radius: 5%;
  background-color: none;
  width: 102%;
}

.simple_comment{
  text-align: center;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
  background-color: MintCream ;
  padding-bottom: 25px;
  background-color: none;
  width: 50%;
  max-width: 900px;
  min-width: 480px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.video_show{
  text-align: center;
  border: 1.5px solid gray;
  margin-bottom: 30px;
  background-color: white ;
  padding-bottom: 25px;
  border-radius: 5%;
  background-color: none;
  width: 50%;
  max-width: 900px;
  min-width: 480px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.post_comment {
  text-align: center;
  margin: 0 auto;
}

.comeon {
  margin: auto 350 20;
  border: 2px solid black;
}

.welcome {
  font-family: fabada;
  text-align: center;
}

.homepage_text {
  font-family: cool;
  font-size: 200px;
  text-align: center;
}
/*
.videos_simple {
  text-align: center;
  border: 1.5px solid gray;
  margin: 30px 350px 30px 350px;
  background-color: white ;
  border-radius: 5%
}
*/

.simple iframe {
  max-width: 100%;
}
